<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/Javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
        <servlet>
            <servlet-name>chat</servlet-name>
            <servlet-class>com.chatting.chat</servlet-class>
        </servlet>
    
        <servlet-mapping>
             <servlet-name>chat</servlet-name>
             <url-pattern>/chat</url-pattern>  
        </servlet-mapping>
         <servlet>
            <servlet-name>Chat_Store</servlet-name>
            <servlet-class>com.chatting.Chat_Store</servlet-class>
        </servlet>
    
        <servlet-mapping>
             <servlet-name>Chat_Store</servlet-name>
             <url-pattern>/Chat_Store</url-pattern>  
        </servlet-mapping>
        
                 <servlet>
            <servlet-name>Reload_Data</servlet-name>
            <servlet-class>com.chatting.ReloadData</servlet-class>
        </servlet>
    
        <servlet-mapping>
             <servlet-name>Reload_Data</servlet-name>
             <url-pattern>/Reload_Data</url-pattern>  
        </servlet-mapping>
        
    
</web-app>